<div class="container-fluid">
	<h3 class="type">D I N I N G</h3>
	<div class="days-con">
		<div id="move-btn" ng-if="loggedIn">
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample" id="add-btn">+</button>
		</div>
		<div class="collapse" id="collapseExample1">
		  	<h4 class="item-con">N a m e</h4>
		  	<input class="form-control" ng-model="item.name">
		  	<h4 class="item-con">L e n g t h</h4>
		  	<input class="form-control" ng-model="item.lengt">
		  	<h4 class="item-con">W i d t h</h4>
		  	<input class="form-control" ng-model="item.width">
		  	<h4 class="item-con">H e i g h t</h4>
		  	<input class="form-control" ng-model="item.height">
		  	<h4 class="item-con">P r i c e</h4>
		  	<input class="form-control" ng-model="item.price">
		  	<h4 class="item-con">L o c a t i o n</h4>
		  	<input class="form-control" ng-model="item.location">
		  	<h4 class="item-con">D e s c r i p t i o n</h4>
		  	<textarea class="form-control" ng-model="item.description"></textarea>

			<div class="imgUploadCon">
				<input type="file" ngf-select ng-model="item.image" name="file" accept="image/*" ngf-max-size="2MB">
			</div>

			<img ngf-thumbnail="item.image" id="photo1"><br> 
			<button ng-click="item.image = null" ng-show="item.image">Remove</button>

			
		  	<button class="btn btn-default" id="add-item" ng-click="addDining(item.image)">Add Item</button>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-6 col-md-3" id="theItems" ng-repeat="item in itemsArray | filter : {type: 'dining'}">
		<img src="{{item.image}}" id="item-pic">
		<div id="spread" ng-click="display(item)" data-toggle="modal" data-target="#itemModal">
			<div class="price-con">
				<h5 id="price">${{item.price}}.00</h5>
			</div>
			<div id="dimensions">
				<h6 class="item-cont" id="length">L<br> {{item.lengt}}</h6>
				<h6 class="item-cont" id="width">W<br> {{item.width}}</h6>
				<h6 class="item-cont" id="height">H<br> {{item.height}}</h6>
			</div>
		</div>
		<!-- Login Modal -->
		<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="login-title" ng-model="name">{{name}}</h4>
		      </div>
		      <div class="modal-body">
		      	<img ng-model="picture" ng-src="{{picture}}" id="item-pic">
		      </div>
		      <div class="modal-footer">
		      	<h5 ng-model="description" id="idd">{{description}}</h5>
		      </div>
		    </div>
		  </div>
		</div>	
	</div>
</div>



